@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --cor-primaria: #F06;
  --cor-texto: #fff;
  --bg-padrao: #111;
  --bg-destaque: #2d2d2d;
  --font-padrao: 'Roboto', 'sans-serif';


}

body{
  background-color: var(--bg-padrao);
  font-family: var(--font-padrao);
}

header{
  display: flex;
  background-color: var(--bg-destaque);

}

.material-icons.logo{
  color: var(--cor-primaria);
  font-size: 3.65rem;
}

#titulo{
  color: var(--cor-primaria);
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

nav{
  display: flex;
  align-items: flex-end;

}

nav ul{
  display: flex;

}

nav li{
  list-style: none;
  margin: .6rem;
}

/* .espaco-sobre{
} */

a{
  color: var(--cor-texto);
  font-size: 1.1rem;
  text-decoration: none;
}

#hero{
  height: 30rem, fit-content;
  width: 100%;
  position: relative;
}

#hero::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: opacity(0.6);
  box-shadow:inset 0 -100px 100px var(--bg-padrao
  );

}

.hero-boys{
  background-size: cover;
  background-image: url("https://www.themoviedb.org/t/p/original/ietgGEAYDluH65hlIjvgaMtjeEL.jpg");
}
.hero-thor{
  background-size: cover;
  background-image: url("https://www.themoviedb.org/t/p/original/htAwfLn5kmrWeedoNregdIB9BKX.jpg");
}
.hero-spiderman{
  background-size: cover;
  background-image: url("https://www.themoviedb.org/t/p/original/14QbnygCuTO0vl7CAFmPf1fgZfV.jpg");
}
.hero-strange{
  background-size: cover;
  background-image: url("https://www.themoviedb.org/t/p/original/lv3TXqhpaIxkclIHbhN2MRMOemQ.jpg");
}

  
.informacoes{
    display: flex;
    height: 90%;
    width: 90%;
    margin: auto;
  }
  
.informacoes img{
    margin: 10px;
    border-radius: 6px;
    width: auto;
    height: auto;
}

.descricao-filme{
    padding-left: -100px;
    margin: auto;
    width: 60vw;
  }
  
.descricao-filme h2{
    font-size: 3rem;
    color: var(--cor-texto);
    text-shadow: 0 4px var(--bg-padrao);
  }
  
.descricao-filme p{
    font-size: 1.2rem;
    font-weight: 700;
    color: #CCCCCC;
    letter-spacing: 0.01rem;
    line-height: 1.3rem;
    padding-top: 2em;
    text-shadow: 0 0 5px #000;
  }

.secao-completa{
  display: flex;
  margin: 1em 1.5em;
  justify-content: space-between;
}

.secao-esquerda{
  width: 100%;
}

button:hover{
  box-shadow: 0 0 10px #fff;
}

.botoes{
  display: flex;
  margin-top: 2rem;
}

button {
  height: 2.5rem;
  width: 8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-primaria);
  padding: 5px 20px;
  border-radius: 11px;
  margin: 0 .7rem;
  transition: box-shadow .5s ease-in-out;
  cursor: pointer;
}


button .icone-voltar{
  color: var(--cor-texto);
  display: flex;
  align-items: center;
}


button .icone-site{
  display: inline-block;
  color: var(--cor-texto);
}

.k{
  margin: 1rem;
  margin-bottom: 3rem;
}

h3{
  font-family: var(--font-padrao);
  margin-top: 3rem;
  margin-bottom: 5rem;
  color: var(--cor-texto);
  border-left: var(--cor-primaria) 5px solid;
  padding-left: 4px;
}

.elenco-atores{
  display:flex;

  flex-wrap: wrap;

}

.elenco-atores .card{
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  background-color: var(--bg-destaque);
  margin: 0.5em 0.5em;
  width: 10rem;
  margin-bottom: 4rem;
  height: 10rem;
}

.elenco img{
  display: inline-block;
  width: 6.25em;
  height: 6.25em;
  border: 3px solid var(--cor-texto);
  border-radius: 50%;
  margin: auto;
  position: relative;
  bottom: 3.5rem;
}

figcaption{
  position: relative;
  color: var(--cor-texto);
  padding: 0 1rem 0 1rem;
  bottom: 2.5rem;
}
.card-personagem p{
  position: relative;
  color: #8D8D8D;
  padding: 0 1rem 0rem 1rem;
  bottom: 2.1rem;
}



.ficha{
  background-color: var(--bg-destaque);
  border-radius: 5px;
  padding: 1px 0.1px 1px 15px;
 
  
}

h4{
  color: var(--cor-texto);
  font-weight: 500;
  
}

.informacoes-filme p{
  font-family: var(--font-padrao);
  color: #747474;
  font-weight: 500;
  padding-bottom: 2rem;
}

/* CSS da página "sobre" */
.inf-sobre{
  color: var(--cor-texto);
}

.sobre-mim{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5rem;
}
.informacoes-pedro{
  padding: 10rem;
}

.sobre-mim img{
  display: flex;
  width: 20em;
  height: 20em;
  border: 3px solid var(--cor-texto);
  border-radius: 50%;
  margin: auto;
  position: relative;
  bottom: 3.5rem;
  align-items: center;
}

